body{
    background: linear-gradient(#0e0c35);
    background-attachment: fixed;
    font-family: "Roboto Mono", monospace;
    color: #fff;
}
#body{
    display: block;
    max-width: 65%;
    margin: 0 auto;
}
#navigationReturnBtn{
    position:fixed;
    left:20px;
    top:20px;
}
#hero{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 25px;
}
#heroTitle{
    text-shadow: 0 0 3px black;
    padding-left: 30px;
}
#heroTitle h1{
    font-size: 40px;
}
#heroTitle p{
    font-size: 15px;
    margin-top: -20px;
}

.pfp{
    margin-left: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.list-heading{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.btn_wrapper{
    display: flex;
    justify-content: center;
    gap: 15px;
}
#heroBtn{
    justify-content: start;
}
#btnImg{
    width: 30px;
    margin-top: -10px;
}
.return{
    width: 150px;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: #fff;
}
.return:hover{
    background-color: #fff;
    color: #0e0c35;
    font-weight: bolder;
    cursor: pointer;
}

.divider{
    border-color: white;
}
#aboutMeContent{
    display: block;
    margin: 40px 0 0 40px;
    max-width: 90%;
}
#aboutMeContent p{
    font-size: large;
}
.heading2{
    display: block;
    text-align: center;
}
.navigation_btn{
    text-align: center;
    width: 150px;
    background-color: #fff;
    color: #0e0c35;
    font-weight: 500;
    font-size: larger;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
}
.navigation_btn:hover{
    color: #153677;
    font-weight: bolder;
    cursor: pointer;
}
.heading{
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    text-shadow: 0 0 3px black;
}
.btn_wrapper_return{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 50px;
}
#btn_padding{
    padding-top: 30px;
    padding-bottom: 100px;
}

#ProjectsContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    overflow: auto;
    max-width: 100%;
    padding-bottom: 50px;
}
.projectContInd{
    background-color: #212121;
    box-shadow: 0 0 20px white;
    border: 5px solid black;
    margin: 0 30px;
}
.projectContInd h1 {
    margin: 15px 0px;
    text-align: center;
}
.projectsImg{
    width: 545px;
    height: 271px; 
}
.projectContInd:hover{
    transform: scale(1.1);
}
.projectLink{
    text-decoration: none;
    color: #fff;
}
.projectLink:visited{
    text-decoration: none;
    color: #fff;
}
#visited{
    background: transparent;
    color:#fff;
}
.projectsDesc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.techInfo{
    width: 20px;
    margin-top: 11px;
}

#EducationContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}
#EducationContent p{
    padding: 3px 0;
}
.educationHeading{
    text-align: center;
    font-size: larger;
}
.techImg{
    width: 45px;
    padding: 10px;
    border: 1px solid grey;
    background-color: #212121 ;
}
#techImgContainer{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}