body{
    background: linear-gradient( #153677, #4e084e);
    background-attachment: fixed;
    font-family: "Roboto Mono", monospace;
    color: #fff;
}
#hero{
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}
#heroTitle{
    text-shadow: 0 0 3px black;
    padding-left: 30px;
}
#heroTitle h1{
    font-size: 100px;
}
#heroTitle h3, p{
    display: flex;
    font-size: 20px;
    align-items: top;
    margin-top: -20px;
}
#heroTitle h3{
    margin-top: -50px;
    font-size: 40px;
}


.pfp{
    margin-left: 200px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 5px solid #fff;
}


.list-heading{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.btn_wrapper{
    display: flex;
    justify-content: center;
    gap: 15px;
}
#heroBtn{
    justify-content: start;
}
#btnImg{
    width: 60px;
}
.return{
    width: 150px;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: #fff;
}
.return:hover{
    background-color: #fff;
    color: #0e0c35;
    font-weight: bolder;
    cursor: pointer;
}

.divider{
    width: 90%;
    border-color: white;
}
#aboutMeContent{
    display: block;
    margin: 0 0 0 5%;

}
.heading2{
    display: block;
    text-align: center;
}
.navigation_btn{
    text-align: center;
    width: 150px;
    background-color: #fff;
    color: #0e0c35;
    font-weight: 500;
    font-size: larger;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
}
.navigation_btn:hover{
    color: #153677;
    font-weight: bolder;
    cursor: pointer;
}
.heading{
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    text-shadow: 0 0 3px black;
}
.btn_wrapper_return{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 50px;
}
#btn_padding{
    padding-top: 30px;
    padding-bottom: 100px;
}
.projects {
    width: 600px;
    height: 353px;
    display: flex;
    align-items: center;
    border: 5px solid black;
    box-shadow: 0px 0px 20px white;
    position: relative;
}

.projects::before {
    content: "";
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}

#toDoList::before {
    background-image: url('images/toDoList.png');
}

#businessCard::before {
    background-image: url('images/businessCard.png');
}

.projects:hover::before {
    opacity: 1;
}

#ProjectsContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.projectTitle{
    text-align: center;
    margin: auto;
    text-shadow: 0px 0px 3px black;
}
.projectTitle h1{
    opacity: 1;
}
.projectLink{
    text-decoration: none;
    color: #fff;
}
.projectLink:visited{
    text-decoration: none;
    color: #fff;
}
#visited{
    background: transparent;
    color:#fff;
}
#EducationContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin: 0 50px;
}
#EducationContent p{
    padding: 3px 0;
}
.educationHeading{
    text-align: center;
}
.techImg{
    width: 100px;
    padding: 30px;

}
#techImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;

}